In [2]:
#Installing the necessary libraries. you can uncomment for the first time.
#!pip install yfinance==0.1.67
#!mamba install bs4==4.10.0 -y
#!pip install nbformat==4.2.0

In [3]:
#Importing the necessary libraries
import yfinance as yf
import pandas as pd

In [5]:
#Downloading apple stock history data
apple_data = yf.download('AAPL')

[*********************100%%**********************]  1 of 1 completed

In [6]:
#View apple data
apple_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-05-07,183.449997,184.899994,181.320007,182.399994,182.152924,77305800
2024-05-08,182.850006,183.070007,181.449997,182.740005,182.492477,45057100
2024-05-09,182.559998,184.660004,182.110001,184.570007,184.320007,48983000
2024-05-10,184.899994,185.089996,182.130005,183.050003,183.050003,50759500
2024-05-13,185.440002,187.100006,184.619995,186.279999,186.279999,71998100

In [7]:
#Since date is at the index column, we will reset the index
apple_data.reset_index(inplace=True)

In [8]:
#View the final data
apple_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...,...
10940,2024-05-07,183.449997,184.899994,181.320007,182.399994,182.152924,77305800
10941,2024-05-08,182.850006,183.070007,181.449997,182.740005,182.492477,45057100
10942,2024-05-09,182.559998,184.660004,182.110001,184.570007,184.320007,48983000
10943,2024-05-10,184.899994,185.089996,182.130005,183.050003,183.050003,50759500
10944,2024-05-13,185.440002,187.100006,184.619995,186.279999,186.279999,71998100

In [9]:
#Exportinf the dataframe in csv format
Apple_Stock_History = apple_data.to_csv('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/Tableau/Stocks Dashboard using Web Scrapped Data/Apple_Stock_History.csv')